<section class="productogallery">

    <div>
        <a>
            <img src="https://chevignon.vtexassets.com/assets/vtex.file-manager-graphql/images/7e8b2bed-d11f-406c-a5aa-2b1528696ded___ee838078b75aaeb5e0756c6fe80b4093.jpg">
        </a>
        <h3>Jeans</h3>
    </div>

    <div>
        <a>
            <img src="https://chevignon.vtexassets.com/assets/vtex.file-manager-graphql/images/a28f4432-c3b0-4da1-be65-e8e11501602f___334d2ae0ece25ef61345452aef3fa242.jpg">
        </a>
        <h3>Polos</h3>
    </div>

    <div>
        <a>
            <img src="https://chevignon.vtexassets.com/assets/vtex.file-manager-graphql/images/15db12ae-5f08-4ec1-9f7d-86fc35e42a66___6b049459350031b2a87c8eef939e78c1.jpg">
        </a>
        <h3>Accesorios</h3>
    </div>

    <div>
        <a>
            <img src="https://chevignon.vtexassets.com/assets/vtex.file-manager-graphql/images/70c260db-c463-4ff6-af27-0cb0a7d2f54d___27163489efbb2d4504e39af967d2baf3.jpg">
        </a>
        <h3>Camisas</h3>
    </div>

    <div>
        <a>
            <img src="https://chevignon.vtexassets.com/assets/vtex.file-manager-graphql/images/e37481f4-269a-4e1e-ab4b-3dfd05c75224___e606f1ed79cd4e639f8909b5a9ad4eeb.jpg">
        </a>
        <h3>Tenis</h3>
    </div>

</section>