@* _Gallery *@

<div class="row row-cols-2 m-5">
    <div class="col-4">
        <h1 class="text-center textneon">HOMBRE</h1>
        <img class="imggallery" src="https://www.somosmamas.com.ar/wp-content/uploads/2020/07/Ropa-de-moda-para-hombre-informal-2.jpg" alt="Imagen hombre" />
    </div>

    <div class="col-4">
        <img class="imggallery" src="https://tacatuca.es/wp-content/uploads/ropa-de-mujer-categoria-chaquetas-trench-683x1024.jpg" alt="Imagen mujer" />
        <h1 class="text-center textneon">MUJER</h1>
    </div>


    <div class="col-4">
        <h1 class="text-center textneon">NIÑO</h1>
        <img class="imggallery" src="https://www.okchicas.com/wp-content/uploads/2016/05/Ni%C3%B1os-fashionistas-13.jpg" alt="Imagen mujer" />        
    </div>

</div>
