<div class="col-5">
    <div class="image-container">
        <img class="imggallerymujer" src="https://chevignon.vtexassets.com/arquivos/ids/1597262-800-auto?v=638611896608070000&width=800&height=auto&aspect=true" alt="Imagen mujer" />
        <img class="imggallerymujerdespues" src="https://chevignon.vtexassets.com/arquivos/ids/1597259-800-auto?v=638611896601500000&width=800&height=auto&aspect=true" alt="Imagen mujer" />
    </div>
</div>