<div class="carousel-wrapper">
    <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 homecarouselimg" src="https://levisco.vtexassets.com/assets/vtex.file-manager-graphql/images/a5f6c963-0e13-4886-9049-7f392f24ed4d___61dd986e83fdfbf9665472dad53e73fb.gif" alt="First slide">
                <div class="carousel-caption-bottom">
                    Aplican condiciones y restricciones
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 homecarouselimg" src="https://nikeco.vtexassets.com/assets/vtex.file-manager-graphql/images/36bc6433-ca45-4541-95de-c625a24304b7___df096cdbc8119dc5407565589447d10a.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 homecarouselimg" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/lam_fw24_basketball_classics_20805_banner_wglp_d_da4e1476fb.jpg" alt="Third slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>
