@{
    ViewData["Title"] = "Home Page";
}


<partial name="_HomeSlider" />

<nav class="navbar navbar-expand-lg ">
    <div class="container d-flex justify-content-center">
       
        <a class="btn btnbanner" href="#">
            MAS VENDIDOS
        </a>

        <a class="btn btnbanner" href="#">
            COLECCION
        </a>
    </div>
</nav>

<partial name="_Gallery" />


