:root {
    --color-beige-claro: #FAF7F0;
    --color-beige-oscuro: #D8D2C2;
    --color-marron-rojo: #B17457;
    --color-marron-oscuro: #574A49;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--color-beige-claro), var(--color-marron-rojo));
}

.box-area {
    width: 930px;
    height: 500px;
    background: var(--color-beige-oscuro);
    filter: blur(0.6px);
    border-radius: 20px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

::placeholder {
    font-size: 16px;
    
    color: var(--color-marron-oscuro);
}

.p-page-font {
    font-family: 'Courier New', sans-serif;
    font-weight: 600;
    color: var(--color-marron-oscuro);
}

.small-page-font {
    font-family: 'Courier New', sans-serif;
    width: 17rem;
    color: var(--color-marron-oscuro);
}

@media only screen and (max-widht: 768px) {
    .box-area {
        width: 100%;
        padding: 0 20px;
    }

    .right-box {
        padding: 20px;
    }

    .small-page-font {
        width: 100%;
    }

    .p-page-font {
        font-size: 1.2rem;
    }
}

.featured-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}