/* Colores definidos */
:root {
    --color-beige-claro: #FAF7F0; /* Un color beige claro, ideal para fondos o áreas amplias de contenido. */
    --color-beige-oscuro: #D8D2C2; /* Un color beige más oscuro, perfecto para elementos de fondo o detalles sutiles. */
    --color-marron-rojo: #B17457; /* Un color cálido, una especie de marrón rojizo, que puede usarse para llamar la atención. */
    --color-marron-oscuro: #574A49; /* Un color marrón oscuro que se puede usar para el texto o fondos oscuros. */
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--color-beige-claro);
    color: var(--color-marron-oscuro);
    display: flex;
    flex-direction: column;
}

nav {
    background: transparent;
    z-index: 1000;
}

    nav a {
        list-style: none;
        color: var(--color-marron-oscuro) !important;
        margin-right: 2rem;
    }

        nav a:hover {
            color: var(--color-marron-rojo) !important;
        }


.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu {
    display: none; 
    position: absolute; 
    top: 100%;
    left: 0;
    z-index: 1000;
}


.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    color: var(--color-marron-oscuro) !important
}

#carouselHome {
    width: 100%;
    max-width: 100%;
    height: 950px;
    padding: 3rem;
    overflow: hidden;
}

    #carouselHome .carousel-inner {
        height: 100%;
    }

    #carouselHome .carousel-item {
        height: 100%;
    }

        #carouselHome .carousel-item img {
            width: 100%;
            height: 100%;
        }

footer {
    background: var(--color-marron-oscuro);
    padding: 20px 0;
    color: var(--color-beige-oscuro);
}

    footer h3 {
        color: var(--color-beige-oscuro);
        margin-bottom: 10px;
        font-size: 1.25rem;
    }

    footer a {
        color: var(--color-beige-oscuro) !important;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        footer a:hover {
            color: var(--color-marron-rojo) !important;
        }

    footer ul {
        padding-left: 0;
    }

        footer ul li {
            list-style: none;
            margin-bottom: 0.8rem;
        }

    footer .d-flex a {
        font-size: 0.9rem;
        margin: 0 1rem;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

        footer .d-flex a:hover {
            transform: scale(1.1);
        }



    footer .col-md-3 {
        flex: 1 1 22%;
        margin-bottom: 15px;
    }

@media (max-width: 768px) {
    footer .col-md-3 {
        flex: 1 1 48%;
    }
}

